.container {
  font-family: 'Manjari', sans-serif;                                                                                                                                          
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #C2E2FA;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.header h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #333;
}

.header p {
  margin: 5px 0 0 0;
  font-size: 1rem;
  color: #666;
}

.progress-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 400px;
  height: 40px;
  background: white;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 75%;
  background: #82e385;
  transition: width 0.3s;
  border-radius: 5px;
  font-size: .8rem;
  color: black;
}

.progress-count {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.flashcard {
  width: 300px;
  height: 200px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  position: relative;
  cursor: pointer;
  transition: transform .6s;
  transform-style: preserve-3d;
}

.flashcard .depan,
.flashcard .belakang {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  padding: 20px;
}

.flashcard .belakang {
  background: #f8f8f8;
  transform: rotateY(180deg);
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.navigation-buttons {
  margin-top: 20px;
  display: flex;
  gap: 100px;
}

button {
  font-family: 'Manjari', sans-serif; 
  padding: 5px 15px;
  font-size: .8rem;
  border: none;
  border-radius: 5px;
  background: #389deb;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #2c7ac9;
}

@media (min-width: 768px) {
  .flashcard {
    width: 400px;
    height: 300px;
  }

  .navigation-buttons {
    margin-top: 30px;
    gap: 110px;
    scale: 1.2;
  }
}


